<% layout("/layouts/boilerplate") %>

<div class="alert alert-danger col-6  offset-3" role="alert">
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:"></svg> -->

    <h4 class="alert-heading"><%= err.message %></h4>
    <!-- <p><%= err.stack %></p> -->
  </div>